span {
    border: 1px solid green;
}
p {
    border: 1px solid;
}
div {
    border: 1px solid green;
    margin-bottom: 3px;
    background: green;
    color: white;
}
.font {
    font-size: 25px;
}
.pk {
    background: red;
}