h1 {
    font-family: cursive;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    border: solid 2px green;
}
th {
    background: green;
    padding: 10px;
    color: white;
    border: solid 2px green;
}
tr:nth-child(2n+1) {
    background-color: lightgrey;
}
iframe {
    width: 400px;
    height: 200px;
}
#prothom {
    width: 460px;
    height: 800px;
}
#kantho {
    width: 460px;
    height: 800px;
}
ul {
    list-style-type: square;
}